<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\CatalogWidget\Block\Product\ProductsList"
                type="Jsantos\ShoppingCart\Block\Product\ProductsList"/>
    <preference for="Jsantos\ShoppingCart\Api\CartRepositoryInterface"
                type="Jsantos\ShoppingCart\Model\QuoteRepository"/>
    <preference for="Jsantos\ShoppingCart\Api\Data\CartInterface" type="Jsantos\ShoppingCart\Model\Quote"/>
    <preference for="Jsantos\ShoppingCart\Model\Quote\Item\Option\ComparatorInterface"
                type="Jsantos\ShoppingCart\Model\Quote\Item\Option\Comparator"/>
</config>
