<tbody class="cart item">
<tr class="item-info">
    <td data-bind="attr: {'data-th': $t('Item')}" class="col item">
        <a data-bind="attr: {'title': getName($parent), 'href': getProductUrl($parent.item_id)}" tabindex="-1" class="product-item-photo">
            <span class="product-image-container">
                <span class="product-image-wrapper" style="padding-bottom: 100%;">
                    <img data-bind="attr: {'src': getProductImageUrl($parent.item_id), 'alt': getName($parent)}"/>
                </span>
            </span>
        </a>
        <div class="product-item-details">
            <strong class="product-item-name">
                <!-- ko if: (hasProductUrl($parent.item_id))-->
                  <a data-bind="text: getName($parent), attr: {'href': getProductUrl($parent.item_id)}"></a>
                <!-- /ko -->
                <!-- ko ifnot: (hasProductUrl($parent.item_id))-->
                    <!-- ko text: getName($parent) --><!--/ko-->
                <!-- /ko -->
            </strong>
            <div class="cart item message notice" if="getMessage($parent)">
                <div data-bind="text: getMessage($parent)"></div>
            </div>
            <!-- ko foreach: getRegion('product_additional_information') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </td>
    <td class="col price" data-bind="attr: {'data-th': $t('Price')}">
        <!-- ko foreach: getRegion('unit_price') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
    <td class="col qty" data-bind="attr: {'data-th': $t('Qty')}">
        <div class="field qty">
            <div class="control qty">
                <label data-bind="attr: {'for': 'cart-'+getId($parent)+'-qty'}">
                    <span class="label" data-bind="text: $t('Qty')"></span>
                    <input data-bind="attr: {'id': 'cart-'+getId($parent)+'-qty', 'title': $t('Qty'), 'name': 'cart['+getId($parent)+'][qty]'}, 'textInput': getQty($parent.item_id), event: { keypress: checkQtyField } "
                           type="number"
                           size="4"
                           step="any"
                           class="input-text qty"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty">
                </label>
            </div>
        </div>
    </td>
    <td class="col subtotal" data-bind="attr: {'data-th': $t('Subtotal')}">
        <!-- ko foreach: getRegion('row_price') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </td>
</tr>
<tr class="item-actions">
    <td colspan="4">
        <div class="actions-toolbar">
            <!-- ko foreach: getRegion('row_actions') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
    </td>
</tr>
</tbody>
